<div class="containr">
    <h2>Dashboard</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti cum consequatur illum? A accusantium voluptatibus mollitia neque illum sunt tempore totam dolor repellendus odio eos officiis quasi, optio cupiditate reiciendis.</p>

    <div class="">
        <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
        </ul>
    </div>

</div>

<div class="row">
<div class="col-sm-6">
    <div class="card">
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="card">
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
</div>
</div>
  